:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#arena {
    position: relative;
    background-color: rgb(135, 176, 238);
    height: 90vh;
    width: 75vw;
    margin: 0 auto;
}

#ground {
    position: absolute;
    bottom: 0;
    background-color: burlywood;
    height: 50px;
    width: 100%;
}

#player {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    left: 20vw;
    bottom: 50px;
}

